# The .terraform directory contains downloaded plugins and providers
.terraform/

# The terraform.tfstate file and its backup (contains the infrastructure state, highly sensitive)
*.tfstate
*.tfstate.backup

# Crash log file created by Terraform during critical errors
crash.log

# Lock file to ensure the state is not modified by concurrent Terraform processes
*.terraform.lock.hcl
